<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Testing Mobile Apps" verbose="1" >
<test name="EndToEnd" >
    <classes>
        <class name="testcases.VerifyLanguageScreen" />
    </classes>
</test>

<!--<test name="Regression1">-->
<!--    <classes>-->
<!--        <class name="test.sample.ParameterSample"/>-->
<!--        <class name="test.sample.ParameterTest"/>-->
<!--    </classes>-->
<!--</test>-->
</suite>